[submodule "backend"]
	path = backend
	url = https://github.com/tda9/fuacs-backend-service.git
[submodule "frontend-web"]
	path = frontend-web
	url = https://github.com/tda9/fuacs-frontend.git
[submodule "recognition-service"]
	path = recognition-service
	url = https://github.com/tda9/fuacs-recognition-service.git
