[submodule "backend"]
	path = backend
	url = https://gitlab.com/fuacs/backend.git
[submodule "frontend-web"]
	path = frontend-web
	url = https://gitlab.com/fuacs/frontend-web.git
[submodule "recognition-service"]
	path = recognition-service
	url = https://gitlab.com/fuacs/recognition-service.git
